@import 'fonts';
@import 'variables';
@import 'components/components';
@import 'sections/sections';

//.container {
//  max-width: 1200px;
//  margin: 0 auto;
//  text-align: center;
//  width: 100%;
//  height: 90%;
//}

.text{
  color: red;
}



